astroid==2.4.2
backcall==0.2.0
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
decorator==4.4.2
idna==2.10
isort==5.6.4
jedi==0.17.2
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
MetaTrader5==5.0.33
numpy==1.19.4
pandas==1.1.4
pandas-datareader==0.9.0
parso==0.7.1
pickleshare==0.7.5
prompt-toolkit==3.0.8
Pygments==2.7.2
python-dateutil==2.8.1
pytz==2020.4
pywin32==300
pyzmq==20.0.0
requests==2.25.0
six==1.15.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
urllib3==1.26.2
wcwidth==0.2.5
wrapt==1.12.1
